<div *ngIf="avatarUrl; else noAvatar">
  <ng-container *ngIf="isGlb(avatarUrl); else imagePreview">
    <model-viewer
      [src]="avatarUrl"
      alt="Avatar Preview"
      camera-controls
      auto-rotate
      style="width: 100%; height: 300px;"
    ></model-viewer>
  </ng-container>
  <ng-template #imagePreview>
    <img [src]="avatarUrl" alt="Avatar Preview" />
  </ng-template>
</div>
<div *ngIf="measurement">
  <h3>Measurements</h3>
  <pre>{{ measurement | json }}</pre>
</div>
<ng-template #noAvatar>
  <p>No avatar to display.</p>
</ng-template>
<button (click)="next()">Next</button>
