<div class="try-on-form">
  <input type="file" (change)="onFileSelected($event, 'person')" />
  <input type="file" (change)="onFileSelected($event, 'garment')" />
  <button (click)="tryOnClothing()" [disabled]="loading">Try On This Look</button>
  <div class="loading" *ngIf="loading">Processing...</div>
  <div class="error" *ngIf="error">{{ error }}</div>
</div>

<img *ngIf="tryOnResult" [src]="tryOnResult" alt="Try-On Result" />
<a *ngIf="tryOnResult" [href]="'https://www.instagram.com/sharing-url?image=' + tryOnResult" target="_blank">
  Share on Instagram
</a>
